:root {
  font-size: 16px;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.suspense-btn {
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  background: chartreuse;
  font-size: 15px;
  border: 2px solid purple;
  margin-bottom: 15px;
}

.suspense-btn:hover {
  background: blueviolet;
  color: white;
  border: 2px solid chartreuse;
}

.roma-js,
.sandloader {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  font-size: 2em;
}

.roma-js {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("./images/roma-js.jpg");
}

.show {
  text-align: center;
}

.suspense-grid {
  display: grid;
  grid-gap: 4px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 50px);
}
